*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: leagueFont;
    src: url(fonts/Friz\ Quadrata\ Std\ Medium.otf)
}

html{
    font-family: leagueFont;
    font-size: 1.5rem;
    user-select: none;
}

$bg: rgb(1, 10, 19);
$text: rgb(240, 230, 210);
$border: rgb(60, 60, 65);
$gold: rgb(200, 155, 60);

::-webkit-scrollbar {
    width: .3rem;
}
  
::-webkit-scrollbar-track {
    background: $bg;
}
  
::-webkit-scrollbar-thumb {
    background: $gold;
    border-radius: 1rem;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: $bg;
    color: $text;
    overflow: hidden;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.half-screen{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $border;
    height: 100vh;
    width: 2px;
    z-index: 1000;

    .diamond{
        height: 20px;
        width: 20px;
        border: 3px solid $border;
        background-color: $gold;
        position: relative;
        top: 50%;
        transform: translate(-9px, -50%) rotate(45deg);

        .points-mobile{
            display: none;
        }
    }
}

.points{
    position: absolute;
    top: 5vh;
    text-align: center;
    font-size: 2rem;
    z-index: 1000;
    backdrop-filter: blur(5px);

    p{
        text-shadow: 1px 1px black;
    }
}

.timer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    display: grid;
    place-items: center;
    z-index: 1000;

    .bar{
        width: 100%;
        height: 100%;
        background-color: green;
        display: grid;
        place-items: center;

        .left{
            font-size: .8rem;
        }
    }
}

.field{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    .sections{
        height: 100%;
        flex: 1;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        animation: fade-in .5s ease-in;

        .content{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            backdrop-filter: blur(5px);
            background-color: rgba(0, 0, 0, 0.4);

            .text{
                padding: 2rem;
                height: 100%;
                text-align: center;
                flex: .6;
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: .5rem;

                .name{
                    letter-spacing: 2px;
                    text-shadow: 1px 1px black;
                    animation: fade-in .5s ease-in;
                }

                .skins{
                    letter-spacing: 2px;
                    animation: fade-in .5s ease-in;
                }

                .buttons{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: .5rem;
                    gap: .7rem;

                    .button{
                        height: 50px;
                        width: 170px;
                        font-size: .8rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: $gold;
                        background-color: $bg;
                        border: 1px solid $gold;
                        cursor: pointer;
                        transition: ease-in-out .2s;
                    }

                    .more{
                        &:hover{
                            color: green;
                            border: 1px solid green;
                        }
                    }

                    .less{
                        &:hover{
                            color: red;
                            border: 1px solid red;
                        }
                    }
                }
            }

            img{
                height: 400px;
                width: 220px;
            }
        }
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
}

.lose-screen{
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;

    .content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        .final-points{
            font-size: 2rem;
        }

        .ranking{
            margin-top: 1rem;
            display: flex;

            .rank-panel{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        img{
            width: 150px;
            filter: grayscale(90%);
        }

        .header{
            margin-top: 3rem;
            letter-spacing: 3px;
        }

        .briefing{
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: 100;
        }

        .save-score{
            margin-top: 3rem;
            font-size: 1rem;
            font-weight: 100;
        }

        .player{
            display: flex;
            flex-direction: column;
            align-items: center;

            .name{
                margin-top: 1rem;
                height: 2rem;
                width: 15rem;
                border: 1px solid $gold;
                background-color: $bg;
                text-align: center;
                font-size: 1rem;
                color: white;
    
                &:focus::placeholder{
                    color: transparent;
                }

                &:disabled{
                    opacity: .5;
                    cursor: not-allowed;
                }
            }
    
            .submit-name{
                margin-top: 1rem;
                height: 1.5rem;
                width: 6rem;
                border: 1px solid $gold;
                background-color: $bg;
                text-align: center;
                font-size: .8rem;
                color: white;
                cursor: pointer;
                transition: ease-in-out .1s;
    
                &:hover{
                    transform: scale(105%);
                    border-radius: 5px;
                }

                &:disabled{
                    opacity: .5;
                    cursor: not-allowed;
                }
            }

            .send-pop-up{
                opacity: 0;
                margin-top: 1rem;
                color: $gold;
                transition: .1s ease-in;
            }
        } 

        .play-again{
            background: none;
            border: none;
            font-family: leagueFont;
            color:rgb(200, 155, 60);
            font-size: 2rem;
            margin-top: 3rem;
            cursor: pointer;

            &:hover{
                color: green;
            }
        }
    }
}

.scoreboard-container{
    position: absolute;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
    display: none;

    .scoreboard{
        position: relative;
        height: 70%;
        width: 70%;
        padding: 1rem;
        padding-top: 3rem;
        background-color: $bg;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0px 0px 5px .1px $gold;

        .row{
            width: 65vw;
            list-style: none;
            display: flex;
            justify-content: space-around;
            
            li{
                
                padding-bottom: .5rem;
                width: 100%;
            }

            .player-name{
                width: 200%;
            }

            .score{
                text-align: center;
            }

            .attempts{
                text-align: center;
            }
        }

        .first{
            position: fixed;
            width: 65vw;
            padding-top: .7rem;
            border-bottom: 1px solid $gold;
            background-color: $bg;
            transform: translateY(-72px);
        }
    }
}

.scoreboard-icon{
    position: absolute;
    z-index: 10000;
    bottom: 1rem;
    right: 1rem;
    filter: drop-shadow(0px 0px 20px white);
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover{
        filter: drop-shadow(0px 0px 5px white);
    }

    img{
        width: 100px;
    }
}

.local-profile{
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    min-width: 10%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .4rem 1rem .4rem 1rem;
    gap: 1rem;

    img{
        height: 100%;
        background-color: white;
        border-radius: 100%;
        border: 2px solid $gold;
    }

    .user-nickname{
        cursor: pointer;
        transition: color ease-in-out .2s;

        &:hover{
            color: $gold;
        }
    }
}

.edit-profile{
    position: absolute;
    z-index: 10000;
    height: 70%;
    width: 50%;
    padding: 1.5rem;
    background-color: $bg;
    box-shadow: 0px 0px 5px .1px $gold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;

    .profile{
        display: flex;
        align-items: center;
        gap: 2rem;
        height: 100px;
        position: relative;

        .change-name{
            display: flex;
            gap: .2rem;
            opacity: 0;
            pointer-events: 0;

            .new-name{
                height: 2rem;
                width: 70%;
                border: 1px solid $gold;
                background-color: $bg;
                padding: .3rem;
                font-size: 1rem;
                color: white;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .accept-name{
                height: 2rem;
                width: 2rem;
                border: 1px solid $gold;
                background-color: $bg;
                padding: .3rem;
                font-size: 1rem;
                color: white;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                transition: border ease-in-out .2s;
                cursor: pointer;
                

                &:hover{
                    transform: scale(105%);
                    border: 2px solid green;
                }

                img{
                    filter: invert(100%);
                    border: none;
                    background: none;
                }
            }
        }

        .icon-list{
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            background-color: $bg;
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;

            img{
                height: 90px;
                filter: grayscale(50%);
                transition: ease-in-out .2s;
                

                &:hover{
                    filter: grayscale(0%);
                }
            }
        }

        img{
            height: 90%;
            background-color: white;
            border-radius: 100%;
            border: 3px solid $gold;
            cursor: pointer;
            transition: transform ease-in-out .2s;

            &:hover{
                transform: scale(105%);
            }
        }

        a{
            font-size: 1.2rem;
            color: $gold;
            cursor: pointer;
            transition: transform ease-in-out .2s;

            &:hover{
                transform: scale(105%);
            }
        }
    }

    .stats{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 50%;
        gap: 1rem;
    }

    .buttons{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .close{
            border: none;
            background: none;
            color: white;
            font-family: leagueFont;
            font-size: 1.2rem;
            letter-spacing: 1px;
            cursor: pointer;
            transition: color ease-in-out .1s;

            &:hover{
                color: gray;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .half-screen{
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        
        .diamond{
            left: 50%;
            width: 35px;
            height: 35px;
            display: grid;
            place-items: center;

            .points-mobile{
                display: block;
                font-size: .8rem;
                transform: rotate(-45deg);
                color: white;

            }
        }
    }

    .points{
        display: none;
    }

    .field{
        flex-direction: column;
        width: 100%;

        .sections{
            width: 100%;

            .content{
                width: 100%;

                .text{
                    .buttons{
                        .button{
                            width: 6rem;
                            height: 2rem;
                        }
                    }
                }

                img{
                    height: 320px;
                    width: 180px;
                }
            }
        }
    }

    .scoreboard-icon{
        transform: scale(70%) translate(1.5rem, 1rem);
    }

    .scoreboard-container{
        .scoreboard{
            .first{
                transform: translateY(-3rem);
            }
        }
    }

    .lose-screen{
        .content-container{
                .ranking{
                    .rank-panel{
                        display: none;
                    }
                    .mobile-active{
                        display: flex;
                        p{
                            margin-top: -1rem
                        }
                    }
                }              
            .final-points{
                margin-bottom: -1rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 1.2rem;
    }

    .field{
        .sections{
            .content{
                backdrop-filter: blur(0);
                img{
                    display: none;
                }
            }
        }
    }

    .lose-screen{
        font-size: .8rem;
        .content-container{
                .ranking{
                    .mobile-active{
                        p{
                            margin-top: -2rem
                        }
                    }
                }              
            .final-points{
                margin-bottom: -2rem;
            }
            .header{
                margin-top: 2rem;
            }
            .play-again{
                margin: 0;
            }
        }
    }
}

@media only screen and (max-height: 820px) {
    .field{
        .sections{
            width: 100%;
            
            .content{
                backdrop-filter: blur(0);
                font-size: .8rem;
            }

            img{
                display: none;
            }
        }
    }
    .current{
        .content{
            .text{
                .buttons{
                    flex-direction: row !important;
                    justify-content: center;
                    align-items: center;
                    margin-top: .5rem;
                    gap: .5rem; 

                    .button{
                        height: 1.5rem !important;
                        width: 4rem !important;
                        font-size: .6rem !important;
                        letter-spacing: 0 !important;
                    }
                        
                }
            }
        }
    }
    .scoreboard-icon{
        transform: scale(70%) translate(1.5rem, 1rem);
    }
}