*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: leagueFont;
  src: url(fonts/Friz\ Quadrata\ Std\ Medium.otf);
}
html {
  font-family: leagueFont;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: rgb(1, 10, 19);
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 155, 60);
  border-radius: 1rem;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 10, 19);
  color: rgb(240, 230, 210);
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.half-screen {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(60, 60, 65);
  height: 100vh;
  width: 2px;
  z-index: 1000;
}
.half-screen .diamond {
  height: 20px;
  width: 20px;
  border: 3px solid rgb(60, 60, 65);
  background-color: rgb(200, 155, 60);
  position: relative;
  top: 50%;
  transform: translate(-9px, -50%) rotate(45deg);
}
.half-screen .diamond .points-mobile {
  display: none;
}

.points {
  position: absolute;
  top: 5vh;
  text-align: center;
  font-size: 2rem;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.points p {
  text-shadow: 1px 1px black;
}

.timer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  display: grid;
  place-items: center;
  z-index: 1000;
}
.timer .bar {
  width: 100%;
  height: 100%;
  background-color: green;
  display: grid;
  place-items: center;
}
.timer .bar .left {
  font-size: 0.8rem;
}

.field {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.field .sections {
  height: 100%;
  flex: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: fade-in 0.5s ease-in;
}
.field .sections .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}
.field .sections .content .text {
  padding: 2rem;
  height: 100%;
  text-align: center;
  flex: 0.6;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.field .sections .content .text .name {
  letter-spacing: 2px;
  text-shadow: 1px 1px black;
  animation: fade-in 0.5s ease-in;
}
.field .sections .content .text .skins {
  letter-spacing: 2px;
  animation: fade-in 0.5s ease-in;
}
.field .sections .content .text .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.7rem;
}
.field .sections .content .text .buttons .button {
  height: 50px;
  width: 170px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(200, 155, 60);
  background-color: rgb(1, 10, 19);
  border: 1px solid rgb(200, 155, 60);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.field .sections .content .text .buttons .more:hover {
  color: green;
  border: 1px solid green;
}
.field .sections .content .text .buttons .less:hover {
  color: red;
  border: 1px solid red;
}
.field .sections .content img {
  height: 400px;
  width: 220px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
.lose-screen {
  overflow-y: scroll;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
}
.lose-screen .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.lose-screen .content-container .final-points {
  font-size: 2rem;
}
.lose-screen .content-container .ranking {
  margin-top: 1rem;
  display: flex;
}
.lose-screen .content-container .ranking .rank-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lose-screen .content-container img {
  width: 150px;
  filter: grayscale(100%);
}
.lose-screen .content-container .header {
  margin-top: 3rem;
  letter-spacing: 3px;
}
.lose-screen .content-container .briefing {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 100;
}
.lose-screen .content-container .save-score {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 100;
}
.lose-screen .content-container .player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lose-screen .content-container .player .name {
  margin-top: 1rem;
  height: 2rem;
  width: 15rem;
  border: 1px solid rgb(200, 155, 60);
  background-color: rgb(1, 10, 19);
  text-align: center;
  font-size: 1rem;
  color: white;
}
.lose-screen .content-container .player .name:focus::-moz-placeholder {
  color: transparent;
}
.lose-screen .content-container .player .name:focus::placeholder {
  color: transparent;
}
.lose-screen .content-container .player .name:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.lose-screen .content-container .player .submit-name {
  margin-top: 1rem;
  height: 1.5rem;
  width: 6rem;
  border: 1px solid rgb(200, 155, 60);
  background-color: rgb(1, 10, 19);
  text-align: center;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
.lose-screen .content-container .player .submit-name:hover {
  transform: scale(105%);
  border-radius: 5px;
}
.lose-screen .content-container .player .submit-name:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.lose-screen .content-container .player .send-pop-up {
  opacity: 0;
  margin-top: 1rem;
  color: rgb(200, 155, 60);
  transition: 0.1s ease-in;
}
.lose-screen .content-container .play-again {
  background: none;
  border: none;
  font-family: leagueFont;
  color: rgb(200, 155, 60);
  font-size: 2rem;
  margin-top: 3rem;
  cursor: pointer;
}
.lose-screen .content-container .play-again:hover {
  color: green;
}

.scoreboard-container {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  display: none;
}
.scoreboard-container .scoreboard {
  position: relative;
  height: 70%;
  width: 70%;
  padding: 1rem;
  padding-top: 3rem;
  background-color: rgb(1, 10, 19);
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 0px 5px 0.1px rgb(200, 155, 60);
}
.scoreboard-container .scoreboard .row {
  width: 65vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.scoreboard-container .scoreboard .row li {
  padding-bottom: 0.5rem;
  width: 100%;
}
.scoreboard-container .scoreboard .row .player-name {
  width: 200%;
}
.scoreboard-container .scoreboard .row .score {
  text-align: center;
}
.scoreboard-container .scoreboard .row .attempts {
  text-align: center;
}
.scoreboard-container .scoreboard .first {
  position: fixed;
  width: 65vw;
  padding-top: 0.7rem;
  border-bottom: 1px solid rgb(200, 155, 60);
  background-color: rgb(1, 10, 19);
  transform: translateY(-72px);
}

.scoreboard-icon {
  position: absolute;
  z-index: 10000;
  bottom: 1rem;
  right: 1rem;
  filter: drop-shadow(0px 0px 20px white);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.scoreboard-icon:hover {
  filter: drop-shadow(0px 0px 5px white);
}
.scoreboard-icon img {
  width: 100px;
}

@media only screen and (max-width: 1100px) {
  .half-screen {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
  }
  .half-screen .diamond {
    left: 50%;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
  }
  .half-screen .diamond .points-mobile {
    display: block;
    font-size: 0.8rem;
    transform: rotate(-45deg);
    color: white;
  }
  .points {
    display: none;
  }
  .field {
    flex-direction: column;
    width: 100%;
  }
  .field .sections {
    width: 100%;
  }
  .field .sections .content {
    width: 100%;
  }
  .field .sections .content .text .buttons .button {
    width: 6rem;
    height: 2rem;
  }
  .field .sections .content img {
    height: 320px;
    width: 180px;
  }
  .scoreboard-icon {
    transform: scale(70%) translate(1.5rem, 1rem);
  }
  .scoreboard-container .scoreboard .first {
    transform: translateY(-3rem);
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 1.2rem;
  }
  .field .sections .content {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  .field .sections .content img {
    display: none;
  }
}
@media only screen and (max-height: 820px) {
  .field .sections {
    width: 100%;
  }
  .field .sections .content {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    font-size: 0.8rem;
  }
  .field .sections img {
    display: none;
  }
  .current .content .text .buttons {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }
  .current .content .text .buttons .button {
    height: 1.5rem !important;
    width: 4rem !important;
    font-size: 0.6rem !important;
    letter-spacing: 0 !important;
  }
  .scoreboard-icon {
    transform: scale(70%) translate(1.5rem, 1rem);
  }
}/*# sourceMappingURL=styles.css.map */